* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24272E;
}

#header {
    background-color: white;
    padding: 15px;
}

#container {
    display: grid;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    border: 5px solid black;
}

.gridBox {
    border: 1px solid white;
    box-sizing: border-box;
}

#buttons button {
    position: absolute;
    display: block;
    border: 3px solid blue;
    padding: 5px;
    margin-top: 100px;
    margin-left: 120px;
    display: block;
}

#newGridButton {
    position: relative;
    top: 100px;
    padding: 4px;
    font-family: "Cabin Condensed", serif;
    font-size: 20px;
    background-color: white;
    border: 3px solid blue;
    border-radius: 15px;
}

#randomColorsButton {
    position: relative;
    top: 150px;
}

#getWhite {
    position: relative;
    top: 200px;
}

#eraseAll {
    position: relative;
    top: 250px;
}

#selectColor {
    position: relative;
    top: 300px;
}