* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00356B;
}

#header {
    background-color: white;
    padding: 15px;
    border-bottom: 8px solid black;
}

h1 {
    text-align: center;
    font-family: "Cabin Condensed", serif;
    font-size: 40px;
    width: 100%;
}

#container {
    display: grid;
    width: 600px;
    height: 600px;
    margin: 2px 400px 20px 400px;
    position: absolute;
    border: 5px solid black;
    border-radius: 10px;
    overflow: auto;
    flex-wrap: wrap;
}

.gridBox {
    border: 2px solid white;
    box-sizing: border-box;
}

.buttons {
    position: relative;
    float: left;
    top: 45px;
    left: 150px;
}

.buttons > button {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #4682b4;
    border: none;
    border-radius: 15px;
    font-family: "Cabin Condensed", serif;
    font-size: 20px;
    color: white;
    outline: none;
}

.buttons > button:hover {
    background-color: #73C2FB;
    transition: background-color 0.4s ease-out;
}

.buttons > button:active {
    background-color: #A4DDED;
    transition: none;
}

#selectColor {
    position: relative;
    top: 345px;
    left: 10px;
    padding: 10px;
    font-family: "Cabin Condensed", serif;
    font-size: 20px;
    color: white;
    background-color: #4682b4;
    border: none;
}

#selectColor:hover {
    background-color: #73C2FB;
    transition: background-color 0.4s ease-out;
}