body {
    background-color: #f7f7ea;
}

#container {
    display: grid;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    border: 5px solid black;
}

.gridBox {
    border: 1px solid white;
    box-sizing: border-box;
}

#newGridButton {
    float: left;
    margin-bottom: 50px;
}